.home{
    scroll-behavior: smooth;
    width: 100%;
    height: 100vh;
   /* background-color: white;
    background-image: url(../../Image/back.jpg);
    background-size: 100%;
   
        background-repeat: no-repeat;
        color: white;*/
        display: flex;
      /*  justify-content: center;
        text-align: center;
        align-items: center;
      */
      /*  background-image: linear-gradient(to right,rgba(255,0,0,0.5),rgba(255,0,0,0.8));
       */
}

h1 {
  /*  position: relative;
    bottom: 500px;
    color: black;*/
}
.homeimage{
  
  height: 100%;
  background-color: hotpink;
 transform: rotate(90deg);
 
}
.para{
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: red;
  height: 100vh;
  width:50vw;
  transition: opacity 1s ease-in;
}

@media screen and(max-width:'790px')
{
  home{
    display: flex;
  flex-direction:column ;
  }
}